@keyframes scaleDown {
  0% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(1);

  }

  50% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(0);

  }

  50% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes loaded {
  0% {
    opacity: 1;

  }

  100% {
    opacity: 0;
  }
}