.daily-container {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid rgba(#fff, 0.5);
  margin: auto;

  .daily-card {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0.5rem;
    .daily-header-container {
      width: 33%;

      .daily-header {
        font-size: 1.6rem;
        font-weight: 300;
        justify-content: center;
      }
    }
    .daily-img-container {
      display: flex;
      justify-content: center;
      width: 35%;

      img {
        width: 4rem;
        height: 4rem;
      }
    }

    .daily-temp-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 31%;

      .temp {
        font-size: 1.4rem;
        margin: 0 0 0 1rem;
      }  
    }
  }
}